@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.bolinmalar__full{
  background: #F1F1F1FF;
}
.bolinmalar__full h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height:28px;
  color: #000000;
}
.bolinmalar__full h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height:28px;
  color: #000000;
}
@media(max-width:786px) {
  .bolinmalar__full h2{
    font-size: 15px;
    line-height:22px;
  }
  .bolinmalar__full h1{
    font-size: 15px;
    line-height:22px;

  }
}