@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Sarala:wght@400;700&family=Ubuntu:wght@400;500&display=swap');
.foto__card__bg{
    height: 281px;
    border-radius: 20px;
    
}
.foto__card__bg:hover{
    border: 1px solid #00489D;
    box-shadow: 3px 4px 4px 2px #0060D0;
    transition: 0.3s ease;
}
.foto__sarlavha__div{
    background: #C4C4C4;
    height: 100%;
   
    border-radius: 0px 0px 20px 20px;
}
.foto__sarlavha__div h1{
font-family: "Ubuntu";
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 17px;
color: #555151;

}




.__qator1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis; 
}
/* ARROW */
.arrow__number__style{
    background: #CCCCCC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  .arrow__2__l{
    width: 38px; height: 31px;
  }
  .arrow__1__l{
    width: 38px; height: 31px;
  }
  .bir1{
    width: 42px;
    height: 37px;
  }
  .arrow__active{
    background: #2290DF;
    color: white;
  }
  .ikki2{
    width: 42px;
    height: 37px;
  }
  .uch3{
    width: 42px;
    height: 37px;
  }
  .arrow__1__r{
    width: 38px;
    height: 31px;
  }
  .arrow__2__r{
    width: 38px;
    height: 31px;
  }
  
/* ARROW TUGASHI */
@media(max-width:646px){
    .fotogalareya__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:486px){
    .fotogalareya__grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
