@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.gridFoiz{
  display: grid;
  grid-template-columns:calc(75% - 40px) 25%;
  gap: 40px;
  align-items: start;
}
.card__news{
  background: #FFFFFF;
  box-shadow: 1.48148px 2.22222px 2.96296px rgba(0, 0, 0, 0.3);
  border-radius: 11.1111px;
  overflow: hidden;
}
.news__data{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  color: #868686;
}
.news__full__text{
  font-family: "Ubuntu";
  font-weight:500; 
  font-style: normal;
  font-size: 18px;
  line-height: 30px;

}
.news__card__text{
  font-family: Ubuntu;
  font-style: normal;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  /* qaror3 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;

  /* qaror3 TUGASHI*/

}

.songi__news{
  font-family: 25px;
  line-height: 28.73px;
}
.songi__news__text{
  font-family: Ubuntu;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  
}
.news__hr{
  /* border: 1px solid #0041BE; */
  background: #0041BE;
  height: 1px;
}
.news__burchak{
  border:2px solid #0041BE; 
  width: 15px;
  height: 14px;
  border-radius: 10px;
}
.arrow__number__style{
  background: #CCCCCC;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.arrow__2__l{
  width: 38px; height: 31px;
}
.arrow__1__l{
  width: 38px; height: 31px;
}
.bir1{
  width: 42px;
  height: 37px; background: #2290DF; color: white;
}
.ikki2{
  width: 42px;
  height: 37px;
}
.uch3{
  width: 42px;
  height: 37px;
}
.arrow__1__r{
  width: 38px;
  height: 31px;
}
.arrow__2__r{
  width: 38px;
  height: 31px;
}
.__qator2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.__qator3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.__qator1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.illustratsiya{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Media  */

@media(max-width:816px) {
  .gridFoiz{
    display: flex;
   flex-direction: column;

    /* grid-template-columns:calc(75% - 16px) 25%; */
    /* gap: 16px; */
    align-items: initial;
  }
  
}
@media(max-width:464px){
  .grid__75{
    grid-template-columns: repeat(1, 1fr);
  }

  .arrow__2__l{
    width: 32px; height: 26px;
  }
  .arrow__1__l{
    width: 32px; height: 26px;
  }
  .bir1{
    width: 35px;
    height: 30px; 
    background: #2290DF; 
    color: white;
  }
  .ikki2{
    width: 35px;
    height: 30px;
  }
  .uch3{
    width: 35px;
    height: 30px; 
  }
  .arrow__1__r{
    width: 32px; height: 26px;
  }
  .arrow__2__r{
    width: 32px; height: 26px;
  }
}
@media(max-width:1113px){
  .illustratsiya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .illustratsiya__right{
    margin-top: 20px;
  }
  .illustratsiya__left{
    margin-top: 20px;
  }
}
