 .rahbariyat__word {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #002264;
}

.bosh__sahifa__size {
  font-size: 25px;
}
.pipertka__bg {
  background: url("../img/rahbariyat__.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 235px;
  width: 100%;
}
.__sahifa__size{
  font-size: 25px
}

/* dsfsdfsdfsdfsdf */
.rahbariyat__cards{
  background: #CDCDCD;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.sarala{
  font-family: 'Sarala';
}
.rahbariyat__cards__name{
font-family: 'Sarala';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #000000;
}
.lavozim{
font-family: 'Sarala';
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #565656;
}
.rahbariyat__cards__text{
font-family: 'Sarala';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
text-align: center;
color: #000000;

}
.rahbariyat__cards__text__mail{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.__qator1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}
.__qator2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}
.__qator3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}
@media(max-width:960px){
  .rahbariyat__box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}
@media(max-width:568px){
  .rahbariyat__cards__inner{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
     
  }
}
/* fsdfsdfsdfsdfsdfsd */