@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sarala:wght@400;700&display=swap');
.rahbariyat__full__left__card{
    background: #DCDCDC;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 23px;
    margin: 0px 20px 20px 0px;
    /* float: left; */
    width:330px;
}
.rahbariyat__full__matn__div{
    float: right;
}
.rahbariyat__full__sarlavha{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    color: #00489D;
}

/* .rahbariyat__full__left__card__word{
    font-size: 30px;
    line-height: 49px;
} */
.rahbariyat__full__left__card__sarlavha{
    font-size: 20px;
    line-height: 23px;
}
.rahbariyat__full__right__text{
font-family: 'Sarala';
font-size: 18px;
line-height: 25px;
}
.__qator1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis; 
}
.__qator2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis; 
}
.__qator3{
   /* background: red; */
   /* height: auto; */
   padding: 2px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis; 
}


@media(max-width:858px){
.rahbariyat__full__sarlavha{
    font-size: 21px;
    line-height: 30px;
    padding: 5px 0px;
}
}

@media(max-width:651px){
    .rahbariyat__full__left__card{
        width: 264px;
    }
    .rahbariyat__full__sarlavha{
        font-size: 20px;
        line-height: 30px;
    }
    .rahbariyat__full__left__card__word{
        font-size: 15px;
        line-height: 19px;
        
    }
    .rahbariyat__full__card__word__div{
        padding-top: 8px;
    }
    .rahbariyat__full__left__card__sarlavha{
        font-size: 16px;
        line-height: 22px;
    }
}


@media(max-width:550px){
    .rahbariyat__full__content{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .rahbariyat__full__left__card{
        float: initial;
        width: 100%;
    }
    .rahbariyat__full__sarlavha{
        font-size: 20px;
        line-height: 30px;
    }
    .rahbariyat__full__left__card__word{
        font-size: 17px;
        line-height: 20px;
        
    }
    .rahbariyat__full__card__word__div{
        padding-top: 8px;
    }
    .rahbariyat__full__left__card__sarlavha{
        font-size: 20px;
        line-height: 22px;
        text-align: start;
    }
}

@media(max-width:396px){
    .rahbariyat__full__left__card__sarlavha{
        font-size: 18px;
        line-height: 20px;
    }
    .rahbariyat__full__left__card__word{
        font-size: 14px;
        line-height: 17px;
        
    }
}