@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=PT+Sans:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=PT+Sans:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;1,300;1,500&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Rhodium+Libre&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Rhodium+Libre&family=Roboto&family=Sarala&family=Staatliches&family=Ubuntu&display=swap");
/* @font-face {
  font-family: "RhodiumLibre";
  src: url("./fonts/RhodiumLibre400.ttf") format("ttf");
} */

body {
  background: #f1f1f1ff;
}

.header__h1,
.header__p {
  font-family: "Rhodium Libre", serif;
  color: #00489d;
}

.header__h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 43px;
}

.header__input {
  background: rgba(0, 72, 157, 0.5);
  color: white;
  padding: 10px 30px;
  z-index: 22;
  width: 350px;
  padding: 10px 30px;
}

.header__uzb {
  background: #00489d;
  color: white;
  padding: 1px 6px;
  border-radius: 8px;
  border: 2px solid #00489d;
  transition: all 0.3s ease;
}

.header__uzb:hover {
  background-color: white;
  color: #00489d;
}

.header__rus {
  border: 2px solid #00489d;
  background-color: white;
  color: #00489d;
  padding: 1px 6px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.header__rus:hover {
  background: #00489d;
  color: white;
}

.header__search__svg {
  padding: 10px 15px;

  background: rgba(0, 72, 157, 0.5);
}

.header__input::placeholder {
  color: white;
  opacity: 1;
}

.header__input:-ms-input-placeholder {
  color: white;
}

.header__input::-ms-input-placeholder {
  color: white;
}
.menu__size {
  font-size: 23px;
  line-height: 29px;
}
.roboto__fonts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}
.ubuntu__fonts {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
}
.Rounded__1c__fonts {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}
.staatliches__fonts {
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-style: normal;
  color: #076791;
}

.herder__li {
  font-family: "Roboto";
  color: #00489d;
  transition: all 0.3s ease;
}

.herder__li:hover {
  background: rgba(0, 72, 157, 0.2);
}

.header__li__active {
  background-color: #00489d;
  color: white;
  font-weight: normal;
  border-radius: 7px;

  border: none;
  outline: none;
}
.header__li__active option {
  /* padding: 0 15px; */
  background-color: grey;
}
.universitet-select {
  font-family: "Roboto";
  font-weight: 400;
  display: block;

  width: 100%;
  transition: 0.5s all ease;
}
.universitet-select:hover {
  font-family: "Roboto";
  background-color: #9f9f9f;
  font-weight: 400;
  padding-left: 20px;
  color: white;
}

.header__li__active:hover {
  background-color: #00489d;
}

/* drop down */

/* drop down tugashi */

.swiper__content {
  height: 500px;
}

.tez__tez,
.yangiliklar {
  background-color: #00489d;
}

.swiper-pagination1 {
  background: rgba(83, 152, 233, 0.3);
  width: initial !important;
  margin-left: 50%;
  padding: 3px 15px;
  border-radius: 15px;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  border: none;
  outline: none;

  opacity: 1;
  color: #fff;

  background: #007aff;
}

.swiper-pagination-bullet-active {
  color: #fff;
  line-height: 28px;
  text-align: center;
  width: 28px;
  border: none;
  outline: none;
  height: 28px;
  background: #007aff;
}

.swiper-wrapper1 {
  height: 420px;
}
.swiper-button-prev1,
.swiper-button-next1 {
  color: #f2f2f6;
  /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6); */
  width: 21px;
  height: 38px;
}

.swiperImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section__3__gridd {
  display: grid;
  align-items: start;

  grid-template-columns: calc(70% - 10px) 30%;
  column-gap: 10px;
}

.section__3__card__1 {
  background: url("../img/portfolio.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  overflow: hidden;
}
.section__3__card__2 {
  background: url("https://meros.uz/upload/2017/02/07a8367035342bae360f2a027cc9039c-large.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
}
.section__3__card__3 {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOK1IW8WPnBqIbmCBphXDSv2ncd76Un3cgOU53V7Jglr4mGud9RNBW9p5y1VbrdPWzm10&usqp=CAU")
    no-repeat;
  background-size: cover;
  background-position: center;
}
.section__3__card__1__content {
  color: white;
  width: 100%;
  height: 100%;
  height: 77px;
  background: rgba(156, 173, 189, 0.8);
  line-height: 26px;
}
.grid__30 {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px 0px 20px 20px;
}
.grid__70 {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0px 20px 20px 20px;
}
.section__3__card__1__content__h1 {
  font-size: 18px;
  font-family: "Ubuntu";
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.__qator1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.__qator2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.__qator3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mySwiper_2 {
  height: 300px;
}
.swiper {
  width: 100%;
}

.swiper-slide_2 {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide_2 img,
.swiper__bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper__bg {
  background: url("../img/tog.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper__bg__content {
  background: rgba(156, 173, 189, 0.9);
  vertical-align: text-bottom;
  width: 100%;
  padding: 5px 0;
}
.swiper__bg__h1 {
  font-size: 14px;

  text-align: start;
  font-family: "Ubuntu";
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 500;

  color: #f2f2f6;
}
.swiper__bg__h3 {
  font-size: 10px;
}

.universitet-select__div.active {
  display: none;
}
.hamburger {
  display: none;
}
.tillarUzbRus__menuda {
  display: none;
}
.telefon-email__menuda {
  display: none;
}

/* illustrator */
.card__1 {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 226px;
  height: 165px;
}
.card__2 {
  height: 170px;
  margin-top: 50px;
  width: 226px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.card__2 svg {
  margin-top: 13px;
}
.card__3 {
  height: 179px;
  transform: translateX(-53px);
  width: 226px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.Labaratories__div {
  margin-bottom: 28px;
}

.card__h1__labaratories {
  color: #076791;
  font-size: 30px;
  line-height: 49px;
}
.card__number__labaratories {
  font-size: 50px;
  line-height: 81px;
  font-size: 65px;
  line-height: 81px;
  color: #076791;
}
.card__4 {
  height: 168px;
  width: 210px;
  /* margin-right: 22px; */
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.card__h1 {
  font-size: 36px;
  line-height: 59px;
  color: #076791;
}
/* .card__36 {
  font-size: 70px;
  line-height: 87px;
  color: #076791;
} */
.card__number {
  font-size: 70px;
  line-height: 87px;
  color: #076791;
}

/* illustrator / */

/* slider */
.slider-container {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 200px;
  background: #578fd1;
  border: 4px solid #aeaeae;
  /* font-size: 0; */
}

.slider-content-wrapper {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite;
}

.slider-inner {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-right: -5px;
}

.slider-inner:last-child {
  margin-right: 0;
}

.slide {
  display: inline-block;
  padding: 0 2.2rem;
  vertical-align: middle;
  outline: none;
  cursor: default;
  /* opacity: 0.25; */
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  margin-right: -5px;
}
/* 
.slide:hover {
  opacity: 0.8;
} */

@keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
/* slider */

/* Hukumat section */
/* .hukumat__card__body {
  /* background: #578fd1; */

/* ACCARDION  STYLE*/
.accordion {
  cursor: pointer;

  /* text-align: left; */

  transition: 0.4s;
}

.active,
.accordion:hover {
  background: #00489d;
}

.panel {
  /* padding: 0 18px; */
  display: none;
  /* background-color: white; */
  overflow: hidden;
}
/* ACCARDION STYLE TUGASHI */

.marquee__tag {
  background: #578fd1;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hukumat__card__1 {
  background: #1b71d8;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 343px;
  height: 159px;
}
.hukumat__card__1__h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  white-space: normal;
}

/* footer style */
.footer__word__size {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

/* footer style  tugashi */

@media (max-width: 1291px) {
  .header__form {
    display: none;
  }

  .telefon-email__menuda {
    display: block;
  }
  .telefon-email {
    display: none;
  }
  .telefon-email__menuda {
    display: none;
  }
  .menu__size {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 1168px) {
  /* .section__3__gridd {
    display: flex;
    flex-direction: column;
    align-items: initial;
  } */
  .menu__size {
    font-size: 16px;
    line-height: 18px;
  }
  .swiper-wrapper1 {
    height: 350px;
  }
  .grid__30 {
    border-radius: 20px;
  }
  .grid__70 {
    border-radius: 20px;
  }
  .card__grid {
    display: flex;
    flex-direction: column;
  }

  .header__h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    /* font-size: 25px; */
    line-height: 25px;
  }
  .header__p {
    font-size: 14px;
  }
  .emblem {
    width: 50px;
  }
}
@media (max-width: 400px) {
  .header__h1 {
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    /* font-size: 25px; */
    line-height: 20px;
  }

  .header__p {
    font-size: 10px;
  }
  .emblem {
    width: 30px;
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
  .swiper-pagination-bullet-active {
    line-height: 21px;
    width: 20px;
    height: 20px;
  }
  .swiper-pagination1 {
    background: rgba(83, 152, 233, 0.3);
    width: initial !important;
    margin-left: 50%;
    padding: 1px 10px;
    border-radius: 15px;
    transform: translateX(-50%);
  }
  .swiper-wrapper1 {
    height: 300px;
  }
  .footer__word__size {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .header__h1 {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    /* font-size: 25px; */
    line-height: 20px;
  }

  .header__p {
    font-size: 8px;
  }
  .card__3 {
    transform: translateX(0);
  }
  .hukumat__card__1__h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
  }
  .marquee__tag {
    background: #578fd1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hukumat__card__1 {
    background: #1b71d8;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 343px;
    height: 159px;
  }
}
@media (max-width: 894px) {
  .tez__tez__soraladigan__savollar {
    display: none;
  }
  /* .illustrator__2 {
    margin-top: -128px;
    margin-right: 12px;
  } */
  /* .section__3__gridd {
    display: flex;
    flex-direction: column;
  } */
  .section__3__gridd {
    display: flex;
    flex-direction: column;
    align-items: initial;
  }
  .hamburger {
    display: block;
  }
  .menusUl {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 15;
    transition: all 0.5s ease;
  }
  .menusUl.active {
    top: 0;
  }
  .gerb__header {
    position: relative;
    width: 91.666667%;
    height: 100%;
    z-index: 17;
  }
  .gerb__header::before {
    position: absolute;
    background-color: #f1f1f1;
    /* background: red; */
    z-index: 20;
    /* width: 91.666667%; */
    width: 100%;
    /* padding: 20px 0; */
    margin: 0 auto;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
  }

  .hamburger {
    position: relative;
    z-index: 23;
    padding-top: 5px;
  }
  .emblem {
    position: relative;
    z-index: 23;
    padding-top: 5px;
  }
  .universitet__name {
    position: relative;
    z-index: 23;
    padding-top: 5px;
  }

  .swiper-wrapper1 {
    height: 250px;
  }

  .tillarUzbRus__menuda {
    display: block;
    display: flex;
  }
  .tillarUzbRus {
    display: none;
  }
}
/* 1291 */
